<section class="my-lg-14 my-8">
    <div class="container">
        <h3 class="mb-5">Shop by category</h3>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="row-col" *ngFor="let category of categories">
                <a [routerLink]="'categories/' + category.id" class="text-dark">
                    <div class="card card-product">
                        <div class="card-body text-center">
                            <img src="{{category.imageUrl}}" alt="product-image" class="mb-2">
                            <br>
                            <h2 class="fs-6">{{category.name}}</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>