<ng-container *ngIf="categories$ | async as categories">
    <ng-container *ngIf="stores$ | async as stores">
        <section class="my-lg-14 my-8">
            <div class="container">
                <h3 class="mb-5">Shop by category</h3>
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="row-col" *ngFor="let category of categories">
                        <a [routerLink]="'categories/' + category.id" class="text-dark">
                            <div class="card card-product">
                                <div class="card-body text-center">

                                    <img src="{{category.imageUrl}}" alt="product-image" class="mb-2">
                                    <br>
                                    <h2 class="fs-6">{{category.name}}</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="my-lg-14 my-8">
            <div class="container">
                <h3 class="mb-5">Fruits & Vegetables</h3>
                <div class="row ">
                    <div class="col mx-2 card card-product " *ngFor="let fruit of fruitsVegetables$ | async">
                        <div class="card-body text-center">
                            <a class="text-dark">
                                <img height="180px" src="{{fruit.imageUrl}}" alt="product-image" class="mb-2">
                                <div class="d-flex flex-column align-items-start mt-3">
                                    <h2 class="fs-6">{{fruit.name}}</h2>
                                    <div>
                                        <span class="text-dark">{{fruit.price | currency: 'USD' :'symbol': '1.0-0'
                                            }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="my-lg-14 my-8">
            <div class="container">
                <h3 class="mb-5">Snack & Munchies </h3>
                <div class="row ">
                    <div class="col mx-2 card card-product " *ngFor="let snack of snackMunchies$ | async">
                        <div class="card-body text-center">
                            <a class="text-dark">
                                <img height="180px" src="{{snack.imageUrl}}" alt="product-image" class="mb-2">
                                <div class="d-flex flex-column align-items-start mt-3">
                                    <h2 class="fs-6">{{snack.name}}</h2>
                                    <div>
                                        <span class="text-dark">{{ snack.price | currency: 'USD' :'symbol': '1.0-0'
                                            }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="my-lg-14 my-8">
            <div class="container">
                <h3 class="mb-5">Stores</h3>
                <div class="col-12">
                    <div class="mb-4">
                        <h6>We have <span class="text-primary">{{stores.length}}</span> vendors now</h6>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div *ngFor="let store of stores" class="col">
                        <div class="card flex-row p-8 card-product ">
                            <div>
                                <img [src]="store.logoUrl" [alt]="store" class="rounded-circle icon-shape icon-xl">
                            </div>
                            <div class="ms-6">
                                <h5 class="mb-1">
                                    <a [routerLink]="'stores/' + store.id" class="text-inherit">{{store.name}}</a>
                                </h5>
                                <div class="small text-muted">
                                    <ng-container *ngFor="let subitem of store.tagNames; last as last">
                                        <span>{{subitem}}</span>
                                        <span *ngIf="!last" class="mx-1">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg" width="4" height="4" fill="#C1C7C6"
                                                class="bi bi-circle-fill align-middle " viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8" />
                                            </svg>
                                        </span> 
                                    </ng-container> 
                                </div>
                                <div>
                                    <div class="badge text-bg-light border">{{store.distanceInMeters/1000 | number: '1.0-1'}} km</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>