<section class="my-lg-14 my-8">
    <div class="container">
        <div class="row g-2" *ngIf="selectedCategory$ | async as selectedCategory">
            <div class="col-md-3 ">
                <app-categories-menu *ngIf="categories$ | async as categories" [selectedCategory]="selectedCategory"
                    [categories]="categories"></app-categories-menu>

                <app-store-form *ngIf="stores$ | async as stores" [stores]="stores" [storeForm]="storeForm"
                    [searchStore]="searchStore"></app-store-form>

                <app-filter-by-price [filterByPrice]="filterByPrice"></app-filter-by-price>

                <app-rating (rateHandle)="ratingValueRadio($event)"></app-rating>

            </div>
            <div class="col-md-9">
                <div class="align-self-start card mb-4 bg-light border-0">
                    <div class="card-body p-9">
                        <h2 class="mb-0 fs-1">{{selectedCategory.name}}</h2>
                    </div>
                </div>

                <app-selected-sorting-value *ngIf="filteredProducts$ | async as filteredProducts"
                    [selectedSortingValue]="selectedSortingValue" [filteredProducts]="filteredProducts"
                    [sortingValues]="sortingValues"></app-selected-sorting-value>

                <app-products-in-category *ngIf="products$ | async as products" [selectedCategory]="selectedCategory"
                    [products]="products"></app-products-in-category>

                <ng-container *ngIf="paginationButtons$ | async as paginationButtons">
                    <app-pagination *ngIf="queryParamsValue$ | async as queryParams" [queryParams]="queryParams"
                        [paginationButtons]="paginationButtons"></app-pagination>
                </ng-container>
            </div>
        </div>
    </div>
</section>