<div class="d-flex mt-5" *ngIf="queryParamsValue$ | async as queryParams">
    <nav class="col-6">
        <h2 class="fs-6">Limit</h2>
        <ul class="pagination">
            <li class="page-item" *ngFor="let limitButton of limitButtons"
                [ngClass]="{ active: limitButton === queryParams.limit }">
                <a class="page-link" (click)="onLimitButtonClicked(limitButton)">
                    {{limitButton}}
                </a>
            </li>
        </ul>
    </nav>
    <nav class="col-6">
        <h2 class="fs-6">Pagination</h2>
        <ul class="pagination" *ngIf="paginationButtons$ | async as paginationButtons">
            <li class="page-item" *ngFor="let paginationButton of paginationButtons"
                [ngClass]="{ active: paginationButton === queryParams.pagination }">
                <a class="page-link" (click)="onPaginationButtonClicked(paginationButton)">
                    {{paginationButton}}
                </a>
            </li>
        </ul>
    </nav>
</div>